:root {
  --white: #fcfcfc;
  --primary-color: #014CCF;
  --light-color: #fffafa;
  --dark-color: #14141F;
  --gray-color: #7a7a7a;
  --card-color: #343444;


  /* border-radius */
  --border-radius-xs: 0.5rem;
  --border-radius-s: 1rem;
  --border-radius-m: 1.5rem;
  --border-radius-lg: 2rem;
  --border-radius-xlg: 2.5rem;

  /* transition */
  --transition: all 0.5s;
}
