
  $white-color:#fff;
  $black-color:#000;
  
  $primary-color: #FF7365;
  $secondary-color:#3639A6;
  $tertiary-color:#FFAFA4;
  $quaternary-color:#72E1E9;

 
  $dark-color: #181C2F;
  $gray-color: #75747B;
 


  
  



